h1 {
    font-weight: 700;
    font-size: 32px;
    font-family: Play,Arial,sans-serif;
}

select {
    width: 48%;
    border: 1px solid #b3b3b3;
    height: 27px;
}

.orangeHover:hover {
color: #ff793a;
}

.product {
    margin: auto;
    max-width: 1166px;
    margin-top: 40px;
    
}

.product .product_inner {
    max-width: 760px;
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.product a {
    color: rgb(57, 106, 255);
    padding: 7px;

}

.product select {
    width: 60%;
}

.product [href="#all"] {
    border-bottom: 1px solid rgb(179, 179, 179);
    border-right: 1px solid rgb(179, 179, 179);
    position: relative;
    left: 5px;
}

.product [href="#in"] {
    border-top: 1px solid rgb(179, 179, 179);
    border-left: 1px solid rgb(179, 179, 179);
    border-right: 1px solid rgb(179, 179, 179);
}

 
.product_inner > label {
    width: 42%;
}  


.adventures .list h2 {
    font-size: 20px;
    font-weight: 300;
}

.adventures .list .genre {
    color: rgb(120, 120, 120);
    font-weight: 300;
}

.adventures .list .price {
    font-size: 22px;
}
.adventures .list a {
    /* max-width: 900px; */
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 300px repeat(2, 1fr);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    -webkit-transition: -webkit-filter 0.5s;
    transition: -webkit-filter 0.5s;
    -o-transition: filter 0.5s;
    transition: filter 0.5s;
    transition: filter 0.5s, -webkit-filter 0.5s;
    margin-top: 2px;
}

.adventures .list a:hover {
    -webkit-filter: drop-shadow(0 0 0.75rem rgba(15, 15, 15, 0.253));
    filter: drop-shadow(0 0 0.75rem rgba(15, 15, 15, 0.253));
}

.adventures .list a:hover h1 {
    color: #ff793a;
}

.adventures .list .game {
    margin-left: 15px !important;
}


.adventures {
    max-width: 1166px;
    margin: auto;
    margin-top: 20px;
}



.adventures .list {
    max-width: 784px;
    float: left;
}

.aside{
    max-width: 380px;
    float: right;
}

.aside h2 {
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}

.aside section{
    background-color: rgb(227, 227, 227);
    margin-top: 3px;
    padding: 20px;
}

.aside input[type="search"]{
    display: block;
    margin: auto;
    width: 100%;
}



ul {
    list-style-type: none;
}

label {
    display: block !important;
}

.flush_wrapper {
    display: flex;
    justify-content: center;
}

/* [href="flush"] {
    margin: auto;
} */

[href="flush"]:hover{
    color: #ff793a;
}

.aside input {
    background-color: rgb(227, 227, 227);
    border: 1px solid #b3b3b3;
}

/* .aside select {
    width: 48%;
    border: 1px solid #b3b3b3;
    height: 27px;
} */

.aside .price .price_inputs {
    margin-top: 10px;
}
 
.aside .price input{
    width: 48%;
    padding-left: 5px;
}

.aside .price input:nth-of-type(2){
    float: right;
}
.marks label {
    cursor: pointer;
}

.form_search{
    /* background: #ff793a; */
    position: relative;
    width: 100%;
    margin: 0 auto;
    border: 1px solid #b3b3b3;
  }
.form_search input, .form_search button{
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
  }
  .form_search input {
    width: 100%;
    height: 34px;
    padding-left: 10px;
  }
  .form_search button {
    height: 34px;
    width: 38px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }
  .form_search button:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #2e2e2e;
  }
 

.checkbox_container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-top: 3px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    

  }

  .checkbox_container:nth-of-type(1){
      margin-top: 10px;
  }
  
  /* Hide the browser's default checkbox */
  .checkbox_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid #b3b3b3; 
    

  }
   
  
  /* When the checkbox is checked, add a blue background */
  .checkbox_container input:checked ~ .checkmark {
    background-color: #ff793a;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    

  }
  
  /* Show the checkmark when checked */
  .checkbox_container input:checked ~ .checkmark:after {
    display: block;
    
  }
  
  /* Style the checkmark/indicator */
  .checkbox_container .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    
  }


